main {
    .about-us{
        margin-top: 50px;
        margin-left: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        figure{
            img{
                pointer-events: none;
                user-select: none;
                margin-right: 30px;
                width: 200px;
                border-radius: 50%;
            }
        }

        .desc{
            width: 500px;
            h2 {
                font-size: 2rem;
            }
            p {
                margin-top: 20px;
                font-size: 1rem;
                line-height: 19px;
                text-align: justify;
            }
        }
    }

    .best-seller{
        margin-top: 40px;
        margin-right: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        figure{
            img{
                pointer-events: none;
                user-select: none;
                margin-left: 80px;
                height: 325px;
            }
        }

        .desc{
            width: 500px;
            h2 {
                font-size: 2rem;
            }
            p {
                margin-top: 20px;
                font-size: 1rem;
                line-height: 19px;
                text-align: justify;
            }
        }
    }

    .month-products {
        margin-top: 40px;
        h2 {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}