.cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
        position: relative;
        margin: 0 30px 30px 30px;
        background-color: var(--color-blue);
        filter: drop-shadow(5px 5px 10px #000000);
        width: 300px;
        height: auto;
        border-radius: 10px;
        user-select: none;
        transition: all .2s ease-in-out;
        border: 1px solid var(--color-cyan);
        figure {
            display: flex;
            flex-direction: column;

            .item-select {
                text-decoration: underline;
            }

            .desc-content {
                display: flex;
                position: relative;
                width: auto;
                    
                img{
                    display: block;
                    opacity: 1;
                    pointer-events: none;
                    padding: 30px;
                    border-radius: 50px;
                    transition: all .2s ease-in-out;
                    width: 100%;
                }

                .middle{
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 80%;
                    transform: translate(-50%, -50%);
                    color: var(--color-greyblue);

                    .text {
                        width: 100%;
                        padding: 5px;
                    }

                    h2 {
                        width: 100%;
                        font-size: 1rem;
                    }
                }

                &:hover {
                    img {
                        opacity: .2;
                    }

                    .middle {
                        opacity: 1;
                    }
                }
            }
            

            figcaption {
                margin: 0 30px;

                a{
                    text-decoration: none;
                    color: var(--color-cyan);

                    &:hover {
                        text-decoration: underline;
                    }
                    strong {
                        font-size: 1rem;
                    }
                }

                p {
                    color: var(--color-cyan);
                    margin-top: 5px;
                    font-size: .9rem;

                    button {
                        background: none;
                        border: none;
                        color: var(--color-greyblue);
                        transition: all .2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            transition: all .2s ease-in-out;
                        }
                    }
                }
            }
        }

        .like-product {
            i {
                position: absolute;
                top: 20px;
                right: 10px;
                transition: all .2s ease-in-out;
                color: var(--color-greyblue);

                &:hover {
                    transition: all .2s ease-in-out;
                    color: var(--color-cyan);
                }
            }
        }

        

        .inline {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            .price {
                color: var(--color-cyan);
                font-size: 2rem;
                font-weight: bold;
            }

            .statu-stock {
                margin-left: 15px;
            }

            .in-stock{
                color: var(--color-green);
            }

            .not-available{
                color: var(--color-red);
            }
        }

        .glass-product {
            margin-top: 19% !important;
        }

        .btn {
            text-align: center;
            .btn-add {
                cursor: pointer;
                border: none;
                margin: 20px 0 10px 0;
                width: 200px;
                height: 40px;
                background-color: var(--color-greyblue);
                color: var(--color-blue);
                border-radius: 5px;
                transition: all .2s ease-in-out;

                &:hover {
                    transition: all .2s ease-in-out;
                    transform: scale(1.02);
                }
            }
        }

        &:hover {
            transition: all .2s ease-in-out;
        }
    }
}