@media screen and (min-width: 768px) and (max-width: 992px) {
  .cards {
    display: grid !important;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
  }
  .cards .card {
    width: 225px !important;
    margin: 20px !important;
  }
  .cards .card figure .desc-content img {
    padding: 20px !important;
  }
  .cards .card figure .desc-content:hover img {
    opacity: 1 !important;
  }
  .cards .card figure .desc-content:hover .middle {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cards .card figure .desc-content img {
    padding: 20px !important;
  }
  .cards .card figure .desc-content:hover img {
    opacity: 1 !important;
  }
  .cards .card figure .desc-content:hover .middle {
    display: none !important;
  }
}
.cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards .card {
  position: relative;
  margin: 0 30px 30px 30px;
  background-color: var(--color-blue);
  filter: drop-shadow(5px 5px 10px #000000);
  width: 300px;
  height: auto;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-cyan);
}
.cards .card figure {
  display: flex;
  flex-direction: column;
}
.cards .card figure .item-select {
  text-decoration: underline;
}
.cards .card figure .desc-content {
  display: flex;
  position: relative;
  width: auto;
}
.cards .card figure .desc-content img {
  display: block;
  opacity: 1;
  pointer-events: none;
  padding: 30px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.cards .card figure .desc-content .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: var(--color-greyblue);
}
.cards .card figure .desc-content .middle .text {
  width: 100%;
  padding: 5px;
}
.cards .card figure .desc-content .middle h2 {
  width: 100%;
  font-size: 1rem;
}
.cards .card figure .desc-content:hover img {
  opacity: 0.2;
}
.cards .card figure .desc-content:hover .middle {
  opacity: 1;
}
.cards .card figure figcaption {
  margin: 0 30px;
}
.cards .card figure figcaption a {
  text-decoration: none;
  color: var(--color-cyan);
}
.cards .card figure figcaption a:hover {
  text-decoration: underline;
}
.cards .card figure figcaption a strong {
  font-size: 1rem;
}
.cards .card figure figcaption p {
  color: var(--color-cyan);
  margin-top: 5px;
  font-size: 0.9rem;
}
.cards .card figure figcaption p button {
  background: none;
  border: none;
  color: var(--color-greyblue);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cards .card figure figcaption p button:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.cards .card .like-product i {
  position: absolute;
  top: 20px;
  right: 10px;
  transition: all 0.2s ease-in-out;
  color: var(--color-greyblue);
}
.cards .card .like-product i:hover {
  transition: all 0.2s ease-in-out;
  color: var(--color-red);
}
.cards .card .inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.cards .card .inline .price {
  color: var(--color-cyan);
  font-size: 2rem;
  font-weight: bold;
}
.cards .card .inline .statu-stock {
  margin-left: 15px;
}
.cards .card .inline .in-stock {
  color: var(--color-green);
}
.cards .card .inline .not-available {
  color: var(--color-red);
}
.cards .card .glass-product {
  margin-top: 19% !important;
}
.cards .card .btn {
  text-align: center;
}
.cards .card .btn .btn-add {
  cursor: pointer;
  border: none;
  margin: 20px 0 10px 0;
  width: 200px;
  height: 40px;
  background-color: var(--color-greyblue);
  color: var(--color-blue);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.cards .card .btn .btn-add:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}
.cards .card:hover {
  transition: all 0.2s ease-in-out;
}/*# sourceMappingURL=cards.css.map */