@media screen and (min-width: 768px) and (max-width: 992px) {
  main .container {
    flex-direction: column !important;
    padding: 20px !important;
  }
  main .container input[type=text], main .container input[type=email], main .container input[type=tel] {
    font-size: 1rem !important;
  }
  main .container .maps {
    margin: 0 !important;
    margin-top: 40px !important;
    width: 100%;
    text-align: center;
  }
  main .container label {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 768px) {
  main h1 {
    padding: 0 20px;
  }
  main p {
    padding: 0 20px;
  }
  main .container {
    flex-direction: column !important;
    padding: 20px !important;
  }
  main .container input[type=text], main .container input[type=email], main .container input[type=tel] {
    font-size: 1rem !important;
  }
  main .container .maps {
    margin: 0 !important;
    margin-top: 40px !important;
    width: 100%;
    text-align: center;
  }
  main .container .maps iframe {
    width: auto;
    height: 250px;
  }
  main .container label {
    font-size: 1rem !important;
  }
}
main h1 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
main p {
  margin-top: 10px;
  text-align: center;
  color: var(--color-blue);
}
main .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
main .container .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .container .content textarea {
  resize: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-greyblue);
  color: var(--color-blue);
  border: 1px solid var(--color-greyblue);
}
main .container .content input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-cyan);
  color: var(--color-blue);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--color-cyan);
  transition: all 0.2s ease-in-out;
}
main .container .content input[type=submit]:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--color-blue);
  color: var(--color-cyan);
}
main .container .content .check {
  margin-top: 10px;
  text-align: center;
}
main .container .content .check input[type=checkbox] {
  color: var(--color-greyblue);
}
main .container form {
  background-color: var(--color-blue);
  color: var(--color-greyblue);
  padding: 20px;
  border: 1px solid var(--color-cyan);
  border-radius: 10px;
  width: 100%;
}
main .container label {
  font-size: 1.2rem;
}
main .container input[type=text], main .container input[type=email], main .container input[type=tel] {
  background-color: var(--color-greyblue);
  color: var(--color-blue);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-greyblue);
  font-size: 1.2rem;
  padding: 10px;
}
main .container input[type=text]::-moz-placeholder, main .container input[type=email]::-moz-placeholder, main .container input[type=tel]::-moz-placeholder {
  color: var(--color-blue);
  opacity: 0.8;
}
main .container input[type=text]::placeholder, main .container input[type=email]::placeholder, main .container input[type=tel]::placeholder {
  color: var(--color-blue);
  opacity: 0.8;
}
main .container .maps {
  margin-left: 30px;
}
main .container .maps iframe {
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */