footer {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .footer-element {
            display: grid !important;
            grid-template-columns: 2fr 2fr !important;
            // text-align: center;
            height: auto !important;
            padding: 0 10vw !important;
            justify-items: normal !important;

            div {
                margin: 0 !important;
            }

            .informations {
                margin: 0 !important;
            }

            .about-us {
                margin: 0 !important;
            }

            .newsletter {
                margin: 0 !important;

                .newsletter-input {
                    width: auto !important;
                }
            }

            .social-link {
                transform: none !important;
                padding-bottom: 20px !important;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .prevent-msg {
            height: auto !important;
            padding: 10px;
            text-align: center;
        }

        .footer-element {
            display: flex !important;
            flex-direction: column;

            .informations {
                margin: 0 !important;
            }

            .about-us {
                margin: 0 !important;
            }

            .newsletter {
                margin: 0 !important;

                .newsletter-input {
                    width: auto !important;
                }
            }

            .social-link {
                text-align: unset !important;
                transform: none !important;
                padding-bottom: 20px !important;
            }
        }

        .copyright {
            text-align: center;
            padding: 10px !important;
            height: auto !important;
        }
    }

    .prevent-msg {
        height: 40px;
        background-color: var(--color-cyan);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-greyblue);
    }

    .footer-element {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        justify-items: center;
        align-items: start;
        padding: 0 20vw;
        background-color: var(--color-blue);

        div {

            h2 {
                margin-bottom: 10px;
                color: var(--color-greyblue);
            }

            a {
                text-decoration: none;
                color: var(--color-greyblue);
            }

            p{
                margin-top: 5px;
                color: var(--color-greyblue);
            }
        }

        .informations {
            padding: 20px;

            .links-infos {
                display: flex;
                flex-direction: column;
                margin: 0;
            }

            a {
                margin-top: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .about-us {
            padding: 20px;
        }

        .newsletter {
            padding: 20px;

            .newsletter-input {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;

                input[type="text"] {
                    background-color:var(--color-cyan);
                    color: var(--color-greyblue);
                    padding: 5px;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    border: 1px solid var(--color-greyblue);

                    &::placeholder {
                        color: var(--color-greyblue);
                        opacity: .8;
                    }
                }

                input[type="submit"] {
                    padding: 5px;
                    transition: all .2s ease-in-out;
                    border-radius: 5px;
                    background-color: var(--color-cyan);
                    border: 1px solid var(--color-greyblue);
                    color: var(--color-greyblue);

                    &:hover {
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        background-color: var(--color-blue);
                        color: var(--color-greyblue);
                    }
                }
            }
        }

        .social-link {
            padding: 20px;
            a img {
                width: 30px;
                margin-right: 10px;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: var(--color-cyan);
        color: var(--color-greyblue);
    }
}