@media screen and (min-width: 768px) and (max-width: 992px) {
  footer .footer-element {
    display: grid !important;
    grid-template-columns: 2fr 2fr !important;
    height: auto !important;
    padding: 0 10vw !important;
    justify-items: normal !important;
  }
  footer .footer-element div {
    margin: 0 !important;
  }
  footer .footer-element .informations {
    margin: 0 !important;
  }
  footer .footer-element .about-us {
    margin: 0 !important;
  }
  footer .footer-element .newsletter {
    margin: 0 !important;
  }
  footer .footer-element .newsletter .newsletter-input {
    width: auto !important;
  }
  footer .footer-element .social-link {
    transform: none !important;
    padding-bottom: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  footer .prevent-msg {
    height: auto !important;
    padding: 10px;
    text-align: center;
  }
  footer .footer-element {
    display: flex !important;
    flex-direction: column;
  }
  footer .footer-element .informations {
    margin: 0 !important;
  }
  footer .footer-element .about-us {
    margin: 0 !important;
  }
  footer .footer-element .newsletter {
    margin: 0 !important;
  }
  footer .footer-element .newsletter .newsletter-input {
    width: auto !important;
  }
  footer .footer-element .social-link {
    text-align: unset !important;
    transform: none !important;
    padding-bottom: 20px !important;
  }
  footer .copyright {
    text-align: center;
    padding: 10px !important;
    height: auto !important;
  }
}
footer .prevent-msg {
  height: 40px;
  background-color: var(--color-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-greyblue);
}
footer .footer-element {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-items: center;
  align-items: start;
  padding: 0 20vw;
  background-color: var(--color-blue);
}
footer .footer-element div h2 {
  margin-bottom: 10px;
  color: var(--color-greyblue);
}
footer .footer-element div a {
  text-decoration: none;
  color: var(--color-greyblue);
}
footer .footer-element div p {
  margin-top: 5px;
  color: var(--color-greyblue);
}
footer .footer-element .informations {
  padding: 20px;
}
footer .footer-element .informations .links-infos {
  display: flex;
  flex-direction: column;
  margin: 0;
}
footer .footer-element .informations a {
  margin-top: 5px;
}
footer .footer-element .informations a:hover {
  text-decoration: underline;
}
footer .footer-element .about-us {
  padding: 20px;
}
footer .footer-element .newsletter {
  padding: 20px;
}
footer .footer-element .newsletter .newsletter-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
footer .footer-element .newsletter .newsletter-input input[type=text] {
  background-color: var(--color-cyan);
  color: var(--color-greyblue);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-greyblue);
}
footer .footer-element .newsletter .newsletter-input input[type=text]::-moz-placeholder {
  color: var(--color-greyblue);
  opacity: 0.8;
}
footer .footer-element .newsletter .newsletter-input input[type=text]:-ms-input-placeholder {
  color: var(--color-greyblue);
  opacity: 0.8;
}
footer .footer-element .newsletter .newsletter-input input[type=text]::placeholder {
  color: var(--color-greyblue);
  opacity: 0.8;
}
footer .footer-element .newsletter .newsletter-input input[type=submit] {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  background-color: var(--color-cyan);
  border: 1px solid var(--color-greyblue);
  color: var(--color-greyblue);
}
footer .footer-element .newsletter .newsletter-input input[type=submit]:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-blue);
  color: var(--color-greyblue);
}
footer .footer-element .social-link {
  padding: 20px;
}
footer .footer-element .social-link a img {
  width: 30px;
  margin-right: 10px;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--color-cyan);
  color: var(--color-greyblue);
}/*# sourceMappingURL=footer.css.map */