footer .prevent-msg {
  height: 40px;
  background-color: var(--color-cyan);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-greyblue);
}

footer .footer-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  background-color: var(--color-blue);
}

footer .footer-element div {
  margin-left: 15px;
  margin-right: 15px;
}

footer .footer-element div h2 {
  margin-bottom: 10px;
  color: var(--color-greyblue);
}

footer .footer-element div a {
  text-decoration: none;
  color: var(--color-greyblue);
}

footer .footer-element div p {
  margin-top: 5px;
  color: var(--color-greyblue);
}

footer .footer-element .informations {
  padding: 20px;
}

footer .footer-element .informations .links-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

footer .footer-element .informations a {
  margin-top: 5px;
}

footer .footer-element .informations a:hover {
  text-decoration: underline;
}

footer .footer-element .about-us {
  padding: 20px;
}

footer .footer-element .newsletter {
  padding: 20px;
}

footer .footer-element .newsletter .newsletter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

footer .footer-element .newsletter .newsletter-input input[type="text"] {
  background-color: var(--color-cyan);
  color: var(--color-greyblue);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-greyblue);
}

footer .footer-element .newsletter .newsletter-input input[type="text"]::-webkit-input-placeholder {
  color: var(--color-greyblue);
  opacity: .8;
}

footer .footer-element .newsletter .newsletter-input input[type="text"]:-ms-input-placeholder {
  color: var(--color-greyblue);
  opacity: .8;
}

footer .footer-element .newsletter .newsletter-input input[type="text"]::-ms-input-placeholder {
  color: var(--color-greyblue);
  opacity: .8;
}

footer .footer-element .newsletter .newsletter-input input[type="text"]::placeholder {
  color: var(--color-greyblue);
  opacity: .8;
}

footer .footer-element .newsletter .newsletter-input input[type="submit"] {
  padding: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  background-color: var(--color-cyan);
  border: 1px solid var(--color-greyblue);
  color: var(--color-greyblue);
}

footer .footer-element .newsletter .newsletter-input input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: var(--color-blue);
  color: var(--color-greyblue);
}

footer .footer-element .social-link {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

footer .footer-element .social-link a img {
  width: 30px;
  margin-right: 10px;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: var(--color-cyan);
  color: var(--color-greyblue);
}
/*# sourceMappingURL=footer.css.map */