@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        margin: auto !important;
    }
}

@media screen and (max-width: 768px) {
    main{
        margin: auto !important;
    }
}

main {
    margin: 0 10vw;
    .container {
    display: flex;
    flex-direction: column;

    .products-beer {
        margin-top: 2rem;
        text-align: center;
    }

    .accessorie-products {
        margin-top: 2rem;
        text-align: center;
    }
}
}

