header {
    width: 100%;
    background-color: var(--color-black);

    .nav-logo {
        img {
            width: 80px;
            margin: 15px;
            transition: all .2s ease-in-out;

            &:hover {
                transition: all .2s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                height: 100%;
                margin-right: 40px;

                .active {
                    text-decoration: underline;
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1.2px;
                    transition: all .5s ease-in;
                    color: var(--color-white);

                    i {
                        color: var(--color-grey);
                        margin-right: 5px;
                    }

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .header-img {
        position: relative;
        figcaption{
            position: absolute;
            top: 50%;
            left: 50%;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            opacity: .6;
        }
    }
}