header {
    width: 100%;
    background-color: var(--color-blue);

    .nav-logo {
        img {
            width: 80px;
            margin: 15px;
            transition: all .2s ease-in-out;
            border-radius: 50%;

            &:hover {
                transition: all .2s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    nav{
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            text-align: center;
            display: block;

            a {
                text-align: center;
            }

            ul {
                flex-direction: column;
                justify-content: center;

                li {
                    margin-bottom: 20px;
                    margin-right: 0 !important;

                    .fa-solid {
                        display: none;
                    }
                }
            }
        }

        @media screen and (max-width: 768px){
            display: block;

            a {
                text-align: center;
            }

            ul {
                flex-direction: column;
                justify-content: center;
                li {
                    margin-bottom: 20px;
                    margin-right: 0 !important;

                    .fa-solid {
                        display: none;
                    }
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                height: 100%;
                margin-right: 40px;

                .active {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        background-color: var(--color-greyblue);
                    }
                }

                i {
                    color: var(--color-cyan);
                    margin-right: 5px;
                }

                a {
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1.2px;
                    transition: all .5s ease-in;
                    color: var(--color-greyblue);

                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: var(--color-greyblue);
                        transform-origin: bottom left;
                        transition: transform .3s ease-in;
                        transform: scaleX(0);
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }

                p {
                    display: none;
                    color: var(--color-cyan);
                }
            }
        }
    }

    .header-img {
        position: relative;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            opacity: .6;
        }
    }
}